<!DOCTYPE html>
<html lang="en">

<head>
    <title>HomePage | Farza</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/9.3.2/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" />
    <link href="css/sheet.css" rel="stylesheet" />
</head>

<body>

    </head>

    <body>
        <header>
            <div class="header-fixed">
                <div class="head">
                    <div class="container">
                        <div class="head-container">
                            <div class="frist">
                                <span>عربي</span>
                                <span>My delivery area: Cairo</span>
                            </div>
                            <div class="second">
                                <span>Sell on Farza </span>
                                <span><i class="fas fa-phone"></i> Call 19966</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- //////////////////////////////////////////////////////////////// -->
                <nav class="navbar navbar-expand-lg header">
                    <div class="container">
                        <a class="navbar-brand" href="#">
                            <img src="./image/WhatsApp Image 2023-03-24 at 3.12.04 PM.jpeg" class="img-fluid" />
                        </a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="">
                                <i class="fa-solid fa-bars text-info"></i>
                            </span>
                        </button>
                        <div class="menu collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav  mb-2 mb-lg-0">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                        <b>Categories</b>
                                    </a>
                                    <ul class="dropdown-menu multi-level" aria-labelledby="navbarDropdown">
                                        <li class="dropdown-submenu p-2">
                                            <div class="text d-flex align-items-center">
                                                <img class="img-fluid w-50" src="image/Mobiles_and_tablets.png" alt="">
                                                <span>Mobile &amp; Tablets</span>
                                            </div>
                                            <ul class="dropdown-menu">
                                                <li class="link"><a href="#">Mobile</a></li>
                                                <hr>
                                                <li class="link"><a href="#">Tablets</a></li>
                                                <hr>
                                                <li class="link"><a href="#">Mobile &amp; Tablet Accessories</a></li>
                                            </ul>
                                            <div class="arrow"></div>
                                        </li>
                                        <hr>
                                        <li class="dropdown-submenu p-2">
                                            <div class="text d-flex align-items-center">
                                                <img class="img-fluid w-50" src="image/TV_Entertainmentt.png" alt="">
                                                <span>TVs</span>
                                            </div>
                                            <ul class="dropdown-menu">
                                                <li class="link"><a href="#">Explore all</a></li>
                                                <hr>
                                                <li class="link"><a href="#">TVs</a></li>
                                                <hr>
                                                <li class="link"><a href="#">Receivers</a></li>
                                                <hr>
                                                <li class="link"><a href="#">TV Accessories</a></li>
                                                <hr>
                                                <li class="link"><a href="#">Home Audio</a></li>
                                            </ul>
                                            <div class="arrow"></div>
                                        </li>
                                        <hr>
                                        <li class="dropdown-submenu p-2">
                                            <div class="text d-flex align-items-center">
                                                <img class="img-fluid w-75" src="image/small_hope_appliancess.png"
                                                    alt="">
                                                <span>Small Home Appliances</span>
                                            </div>
                                            <ul class="dropdown-menu">
                                                <li class="link"><a href="#"> Explore all</a></li>
                                                <hr>
                                                <li class="link"><a href="#">Shope All</a></li>
                                                <hr>
                                                <li class="link"><a href="#">Fans</a></li>
                                                <hr>
                                                <li class="link"><a href="#">Air Coolers</a></li>
                                                <hr>
                                                <li class="link"><a href="#">Heaters</a></li>
                                                <hr>
                                                <li class="link"><a href="#">Kettles & Coffe Makers</a></li>
                                                <hr>
                                                <li class="link"><a href="#">Microwaves</a></li>
                                                <hr>
                                                <li class="link"><a href="#">Water Dispenser</a></li>
                                                <hr>
                                                <li class="link"><a href="#">Hand Blenders</a></li>
                                            </ul>
                                            <div class="arrow"></div>
                                        </li>
                                        <hr>
                                        <li class="dropdown-submenu p-2">
                                            <div class="text d-flex align-items-center">
                                                <img class="img-fluid w-25" src="image/Large_home_appliancee.png"
                                                    alt="">
                                                <span> Large Home Appliances</span>
                                            </div>
                                            <ul class="dropdown-menu">
                                                <li class="link"><a href="#">Explore all</a></li>
                                                <hr>
                                                <li class="link"><a href="#">TVs</a></li>
                                                <hr>
                                                <li class="link"><a href="#">Receivers</a></li>
                                                <hr>
                                                <li class="link"><a href="#">TV Accessories</a></li>
                                                <hr>
                                                <li class="link"><a href="#">Home Audio</a></li>
                                            </ul>
                                            <div class="arrow"></div>
                                        </li>
                                        <hr>
                                        <li class="dropdown-submenu p-2">
                                            <div class="text d-flex align-items-center">
                                                <img class="img-fluid w-25" src="image/Laptops_PCss.png" alt="">
                                                <span>Laptops & PCs</span>
                                            </div>
                                            <ul class="dropdown-menu">
                                                <li class="link"><a href="#">Explore all</a></li>
                                                <hr>
                                                <li class="link"><a href="#">TVs</a></li>
                                                <hr>
                                                <li class="link"><a href="#">Receivers</a></li>
                                                <hr>
                                                <li class="link"><a href="#">TV Accessories</a></li>
                                                <hr>
                                                <li class="link"><a href="#">Home Audio</a></li>
                                            </ul>
                                            <div class="arrow"></div>
                                        </li>
                                        <hr>
                                        <li class="dropdown-submenu p-2">
                                            <div class="text d-flex align-items-center">
                                                <img class="img-fluid w-25" src="image/beautyt_fitness.avif" alt="">
                                                <span>Personal Care</span>
                                            </div>
                                            <ul class="dropdown-menu">
                                                <li class="link"><a href="#">Explore all</a></li>
                                                <hr>
                                                <li class="link"><a href="#">TVs</a></li>
                                                <hr>
                                                <li class="link"><a href="#">Receivers</a></li>
                                                <hr>
                                                <li class="link"><a href="#">TV Accessories</a></li>
                                                <hr>
                                                <li class="link"><a href="#">Home Audio</a></li>
                                            </ul>
                                            <div class="arrow"></div>
                                        </li>
                                        <hr>
                                        <li class="dropdown-submenu p-2">
                                            <div class="text d-flex align-items-center">
                                                <img class="img-fluid w-25" src="image/electronicss.png" alt="">
                                                <span>Electronics</span>
                                            </div>
                                            <ul class="dropdown-menu">
                                                <li class="link"><a href="#">Explore all</a></li>
                                                <hr>
                                                <li class="link"><a href="#">TVs</a></li>
                                                <hr>
                                                <li class="link"><a href="#">Receivers</a></li>
                                                <hr>
                                                <li class="link"><a href="#">TV Accessories</a></li>
                                                <hr>
                                                <li class="link"><a href="#">Home Audio</a></li>
                                            </ul>
                                            <div class="arrow"></div>
                                        </li>
                                        <hr>
                                        <li class="dropdown-submenu p-2">
                                            <div class="text d-flex align-items-center">
                                                <img class="img-fluid w-25" src="image/gaming_1.png" alt="">
                                                <span>Gaming</span>
                                            </div>
                                            <ul class="dropdown-menu">
                                                <li class="link"><a href="#">Explore all</a></li>
                                                <hr>
                                                <li class="link"><a href="#">TVs</a></li>
                                                <hr>
                                                <li class="link"><a href="#">Receivers</a></li>
                                                <hr>
                                                <li class="link"><a href="#">TV Accessories</a></li>
                                                <hr>
                                                <li class="link"><a href="#">Home Audio</a></li>
                                            </ul>
                                            <div class="arrow"></div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <div class="navbar-nav mb-2 mb-lg-0 w-25">
                                <div class="nav-item ">
                                    <a class="nav-link active text-danger fs-tt" aria-current="page"
                                        href="#"><b>Everyday
                                            Deals</b></a>
                                </div>
                            </div>
                            <form class="d-flex w-100  position-relative">
                                <input class="form-control p-3 me-1 " type="search"
                                    placeholder="Search for Product or brands" aria-label="Search">
                                <i
                                    class="fa-solid fa-magnifying-glass position-absolute translate-middle end-0 top-50 p-2"></i>
                            </form>
                            <div class="d-flex acc align-itmes-center w-50">
                                <div class="account-conect me-3 d-flex align-items-center">
                                    <a href="index6.html"><span><i class="fa-regular fa-user"></i><span class="mx-2">My
                                                account</span></span></a>
                                </div>
                                <div class="cart-conect me-2">
                                    <a href="cart.html"><span class="w-100"><i class="fa-solid fa-cart-shopping"></i>
                                            <span class="mx-2">Cart</span></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
                <div></div>
                <!-- //////////////////////////////////////////////////////////////// -->

            </div>

        </header>
        <!-- ...:::: Start Checkout Section:::... -->
        <div class="checkout-section">
            <div class="container py-2">
                <!-- Start User Details Checkout Form -->
                <div class="checkout_form" data-aos="fade-up" data-aos-delay="400">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <form action="#">
                                <h3>Billing Details</h3>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="default-form-box">
                                            <label>First Name <span>*</span></label>
                                            <input class="form-control" type="text">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="default-form-box">
                                            <label>Last Name <span>*</span></label>
                                            <input class="form-control" type="text">
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="default-form-box">
                                            <label>Company Name</label>
                                            <input class="form-control" type="text">
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="default-form-box">
                                            <label for="country">country <span>*</span></label>
                                            <select class="country_option nice-select wide" name="country" id="country">
                                                <option value="2">Bangladesh</option>
                                                <option value="3">Algeria</option>
                                                <option value="4">Afghanistan</option>
                                                <option value="5">Ghana</option>
                                                <option value="6">Albania</option>
                                                <option value="7">Bahrain</option>
                                                <option value="8">Colombia</option>
                                                <option value="9">Dominican Republic</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="default-form-box">
                                            <label>Street address <span>*</span></label>
                                            <input class="form-control" placeholder="House number and street name"
                                                type="text">
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="default-form-box">
                                            <input class="form-control"
                                                placeholder="Apartment, suite, unit etc. (optional)" type="text">
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="default-form-box">
                                            <label>Town / City <span>*</span></label>
                                            <input class="form-control" type="text">
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="default-form-box">
                                            <label>State / County <span>*</span></label>
                                            <input class="form-control" type="text">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="default-form-box">
                                            <label>Phone<span>*</span></label>
                                            <input class="form-control" type="text">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="default-form-box">
                                            <label> Email Address <span>*</span></label>
                                            <input class="form-control" type="text">
                                        </div>
                                    </div>
                                    <div class="payment_method">
                                        <div class="panel-default">
                                            <label class="checkbox-default" for="currencyCod" data-bs-toggle="collapse"
                                                data-bs-target="#methodCod">
                                                <input type="checkbox" id="currencyCod">
                                                <span>Cash on Delivery</span>
                                            </label>

                                            <div id="methodCod" class="collapse" data-parent="#methodCod">
                                                <div class="card-body1">
                                                    <p>Please send a check to Store Name, Store Street, Store Town,
                                                        Store State / County, Store Postcode.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel-default">
                                            <label class="checkbox-default" for="currencyPaypal"
                                                data-bs-toggle="collapse" data-bs-target="#methodPaypal">
                                                <input type="checkbox" id="currencyPaypal">
                                                <span>PayPal</span>
                                            </label>
                                            <div id="methodPaypal" class="collapse " data-parent="#methodPaypal">
                                                <div class="wrapper" id="app">
                                                    <div class="card-form">
                                                        <div class="card-list">
                                                            <div class="card-item"
                                                                v-bind:class="{ '-active' : isCardFlipped }">
                                                                <div class="card-item__side -front">
                                                                    <div class="card-item__focus"
                                                                        v-bind:class="{'-active' : focusElementStyle }"
                                                                        v-bind:style="focusElementStyle"
                                                                        ref="focusElement"></div>
                                                                    <div class="card-item__cover">
                                                                        <img v-bind:src="'https://raw.githubusercontent.com/muhammederdem/credit-card-form/master/src/assets/images/' + currentCardBackground + '.jpeg'"
                                                                            class="card-item__bg">
                                                                    </div>

                                                                    <div class="card-item__wrapper">
                                                                        <div class="card-item__top">
                                                                            <img src="https://raw.githubusercontent.com/muhammederdem/credit-card-form/master/src/assets/images/chip.png"
                                                                                class="card-item__chip">
                                                                            <div class="card-item__type">
                                                                                <transition name="slide-fade-up">
                                                                                    <img v-bind:src="'https://raw.githubusercontent.com/muhammederdem/credit-card-form/master/src/assets/images/' + getCardType + '.png'"
                                                                                        v-if="getCardType"
                                                                                        v-bind:key="getCardType" alt=""
                                                                                        class="card-item__typeImg">
                                                                                </transition>
                                                                            </div>
                                                                        </div>
                                                                        <label for="cardNumber"
                                                                            class="card-item__number" ref="cardNumber">
                                                                            <template v-if="getCardType === 'amex'">
                                                                                <span
                                                                                    v-for="(n, $index) in amexCardMask"
                                                                                    :key="$index">
                                                                                    <transition name="slide-fade-up">
                                                                                        <div class="card-item__numberItem"
                                                                                            v-if="$index > 4 && $index < 14 && cardNumber.length > $index && n.trim() !== ''">
                                                                                            *</div>
                                                                                        <div class="card-item__numberItem"
                                                                                            :class="{ '-active' : n.trim() === '' }"
                                                                                            :key="$index"
                                                                                            v-else-if="cardNumber.length > $index">
                                                                                            <p> {{cardNumber[$index]}}
                                                                                            </p>
                                                                                        </div>
                                                                                        <div class="card-item__numberItem"
                                                                                            :class="{ '-active' : n.trim() === '' }"
                                                                                            v-else :key="$index + 1">
                                                                                            {{n}}</div>
                                                                                    </transition>
                                                                                </span>
                                                                            </template>

                                                                            <template v-else>
                                                                                <span
                                                                                    v-for="(n, $index) in otherCardMask"
                                                                                    :key="$index">
                                                                                    <transition name="slide-fade-up">
                                                                                        <div class="card-item__numberItem"
                                                                                            v-if="$index > 4 && $index < 15 && cardNumber.length > $index && n.trim() !== ''">
                                                                                            *</div>
                                                                                        <div class="card-item__numberItem"
                                                                                            :class="{ '-active' : n.trim() === '' }"
                                                                                            :key="$index"
                                                                                            v-else-if="cardNumber.length > $index">
                                                                                            {{cardNumber[$index]}}
                                                                                        </div>
                                                                                        <div class="card-item__numberItem"
                                                                                            :class="{ '-active' : n.trim() === '' }"
                                                                                            v-else :key="$index + 1">
                                                                                            {{n}}</div>
                                                                                    </transition>
                                                                                </span>
                                                                            </template>
                                                                        </label>
                                                                        <div class="card-item__content">
                                                                            <label for="cardName"
                                                                                class="card-item__info" ref="cardName">
                                                                                <div class="card-item__holder">Card
                                                                                    Holder</div>
                                                                                <transition name="slide-fade-up">
                                                                                    <div class="card-item__name"
                                                                                        v-if="cardName.length" key="1">
                                                                                        <transition-group
                                                                                            name="slide-fade-right">
                                                                                            <span
                                                                                                class="card-item__nameItem"
                                                                                                v-for="(n, $index) in cardName.replace(/\s\s+/g, ' ')"
                                                                                                v-if="$index === $index"
                                                                                                v-bind:key="$index + 1">{{n}}</span>
                                                                                        </transition-group>
                                                                                    </div>
                                                                                    <div class="card-item__name" v-else
                                                                                        key="2">Full Name</div>
                                                                                </transition>
                                                                            </label>
                                                                            <div class="card-item__date" ref="cardDate">
                                                                                <label for="cardMonth"
                                                                                    class="card-item__dateTitle">Expires</label>
                                                                                <label for="cardMonth"
                                                                                    class="card-item__dateItem">
                                                                                    <transition name="slide-fade-up">
                                                                                        <span v-if="cardMonth"
                                                                                            v-bind:key="cardMonth">{{cardMonth}}</span>
                                                                                        <span v-else key="2">MM</span>
                                                                                    </transition>
                                                                                </label> /
                                                                                <label for="cardYear"
                                                                                    class="card-item__dateItem">
                                                                                    <transition name="slide-fade-up">
                                                                                        <span v-if="cardYear"
                                                                                            v-bind:key="cardYear">{{String(cardYear).slice(2,4)}}</span>
                                                                                        <span v-else key="2">YY</span>
                                                                                    </transition>
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="card-item__side -back">
                                                                    <div class="card-item__cover">
                                                                        <img v-bind:src="'https://raw.githubusercontent.com/muhammederdem/credit-card-form/master/src/assets/images/' + currentCardBackground + '.jpeg'"
                                                                            class="card-item__bg">
                                                                    </div>
                                                                    <div class="card-item__band"></div>
                                                                    <div class="card-item__cvv">
                                                                        <div class="card-item__cvvTitle">CVV</div>
                                                                        <div class="card-item__cvvBand">
                                                                            <span v-for="(n, $index) in cardCvv"
                                                                                :key="$index">
                                                                                *
                                                                            </span>

                                                                        </div>
                                                                        <div class="card-item__type">
                                                                            <img v-bind:src="'https://raw.githubusercontent.com/muhammederdem/credit-card-form/master/src/assets/images/' + getCardType + '.png'"
                                                                                v-if="getCardType"
                                                                                class="card-item__typeImg">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="card-form__inner">
                                                            <div class="card-input">
                                                                <label for="cardNumber" class="card-input__label">Card
                                                                    Number</label>
                                                                <input type="text" id="cardNumber"
                                                                    class="card-input__input"
                                                                    v-mask="generateCardNumberMask" v-model="cardNumber"
                                                                    v-on:focus="focusInput" v-on:blur="blurInput"
                                                                    data-ref="cardNumber" autocomplete="off">
                                                            </div>
                                                            <div class="card-input">
                                                                <label for="cardName" class="card-input__label">Card
                                                                    Holders</label>
                                                                <input type="text" id="cardName"
                                                                    class="card-input__input" v-model="cardName"
                                                                    v-on:focus="focusInput" v-on:blur="blurInput"
                                                                    data-ref="cardName" autocomplete="off">
                                                            </div>
                                                            <div class="card-form__row">
                                                                <div class="card-form__col">
                                                                    <div class="card-form__group">
                                                                        <label for="cardMonth"
                                                                            class="card-input__label">Expiration
                                                                            Date</label>
                                                                        <select class="card-input__input -select"
                                                                            id="cardMonth" v-model="cardMonth"
                                                                            v-on:focus="focusInput"
                                                                            v-on:blur="blurInput" data-ref="cardDate">
                                                                            <option value="" disabled selected>Month
                                                                            </option>
                                                                            <option v-bind:value="n < 10 ? '0' + n : n"
                                                                                v-for="n in 12"
                                                                                v-bind:disabled="n < minCardMonth"
                                                                                v-bind:key="n">
                                                                                {{n < 10 ? '0' + n : n}} </option>
                                                                        </select>
                                                                        <select class="card-input__input -select"
                                                                            id="cardYear" v-model="cardYear"
                                                                            v-on:focus="focusInput"
                                                                            v-on:blur="blurInput" data-ref="cardDate">
                                                                            <option value="" disabled selected>Year
                                                                            </option>
                                                                            <option v-bind:value="$index + minCardYear"
                                                                                v-for="(n, $index) in 12"
                                                                                v-bind:key="n">
                                                                                {{$index + minCardYear}}
                                                                            </option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                                <div class="card-form__col -cvv">
                                                                    <div class="card-input">
                                                                        <label for="cardCvv"
                                                                            class="card-input__label">CVV</label>
                                                                        <input type="text" class="card-input__input"
                                                                            id="cardCvv" v-mask="'####'" maxlength="4"
                                                                            v-model="cardCvv"
                                                                            v-on:focus="flipCard(true)"
                                                                            v-on:blur="flipCard(false)"
                                                                            autocomplete="off">
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <button class="card-form__button">
                                                                Submit
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 mt-3">
                                        <div class="order-notes">
                                            <label for="order_note">Order Notes</label>
                                            <textarea id="order_note"
                                                placeholder="Notes about your order, e.g. special notes for delivery."></textarea>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <form action="#">
                                <h3>Your order</h3>
                                <div class="order_table table-responsive">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th>Product</th>
                                                <th>Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td> Handbag fringilla <strong> × 2</strong></td>
                                                <td> $165.00</td>
                                            </tr>
                                            <tr>
                                                <td> Handbag justo <strong> × 2</strong></td>
                                                <td> $50.00</td>
                                            </tr>
                                            <tr>
                                                <td> Handbag elit <strong> × 2</strong></td>
                                                <td> $50.00</td>
                                            </tr>
                                            <tr>
                                                <td> Handbag Rutrum <strong> × 1</strong></td>
                                                <td> $50.00</td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th>Cart Subtotal</th>
                                                <td>$215.00</td>
                                            </tr>
                                            <tr>
                                                <th>Shipping</th>
                                                <td><strong>$5.00</strong></td>
                                            </tr>
                                            <tr class="order_total">
                                                <th>Order Total</th>
                                                <td><strong>$220.00</strong></td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div class="footer-full">
                <div class="container">
                    <div class="content1">
                        <i class="fas fa-phone"></i>
                        <div class="text">
                            <span>Call Support </span>
                            <br>
                            <span>19966</span>
                        </div>
                    </div>
                    <hr>
                    <br>
                    <div class="content2">
                        <div class="box">
                            <p><b>Farza Warranty</b></p>
                            <p><a href="#">Ultra</a></p>
                            <p><a href="#">Ariston</a></p>
                            <p><a href="#">Indesit</a></p>
                            <p><a href="#">Braun</a></p>
                            <p><a href="#">Babyliss</a></p>
                            <p><a href="#">Ariete</a></p>
                            <p><a href="#">Miele</a></p>
                            <p><b>Farza services</b></p>
                            <p><a href="#">Minicash</a></p>
                        </div>
                        <div class="box">
                            <p><b>About</b></p>
                            <p><a href="#">Work with us</a></p>
                        </div>
                        <div class="box">
                            <p><b>Trending right now</b></p>
                            <p><a href="#">Every Deals</a></p>
                            <p><a href="#">Mobile</a></p>
                            <p><a href="#">Braun offers</a></p>
                            <p><a href="#">TVs</a></p>
                            <p><a href="#">Accessories</a></p>
                            <p><a href="#">Oppo</a></p>
                            <p><a href="#">Samsung</a></p>
                            <p><a href="#">Apple</a></p>
                        </div>
                        <div class="box">
                            <p><b>Connect with us</b></p>
                            <div class="logo-connect">
                                <img src="image/face.png" alt="">
                                <img src="image/insta.png" alt="">
                                <img src="image/youtup.png" alt="">
                            </div>
                            <p><b>Download the Farza app</b></p>
                            <div class="logo-items">
                                <img src="image/IOS.png" alt="">
                                <img src="image/Google.png" alt="">
                                <img src="image/Huawei.png" alt="">
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="copyright">
                        Copyright &copy; 2023 <strong><b>Farza</b></strong> <strong>Inc. </strong>Powered || Yomna
                        A.Eltolimy
                    </div>
                </div>
            </div>
        </footer>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js'></script>
        <script src='https://unpkg.com/vue-the-mask@0.11.1/dist/vue-the-mask.js'></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
        <script src="Js/script5.js"></script>
    </body>

</html>